################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsolePoolIoCDI/v16
/ConsolePoolIoCDI/bin/Debug
/ConsolePoolIoCDI/obj/Debug
